<div>
    <section>
        <!--管理员所有订单页面-->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">所有订单列表</p>
                        <table class="table  table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>订单编号</th>
                                    <th>国（汇）</th>
                                    <th>店铺</th>
                                    <th>链接</th>
                                    <th>地址</th>
                                    <th>类型</th>
                                    <th>价格</th>
                                    <th>运费</th>
                                    <th>总计</th>
                                    <th>RMB总计</th>
                                    <th>手续费</th>
                                    <th>需支付</th>
                                    <th>Amazon单号</th>
                                    <th>FeedBack</th>
                                    <th>Review</th>
                                    <th>审核</th>
                                    <th>操作</th>
                                    <th>平台</th>
                                    <th>单数</th>
                                </tr>
                            </thead>
                            <tbody id="order-list"></tbody>
                        </table>
                        <p>
                            <button id="btn-prev" class="btn btn-primary">上一页</button>
                            <button id="btn-next" class="btn btn-primary">下一页</button>
                        </p>
                    </div>
                    <div class="col-md-12" id="order-search">

                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script>
    var p = 0;
    var totalRecord=@ViewBag.totalRecord;
    var totalPage=(totalRecord+10-1)/10;
    function load() {
        var url = "/Pager/LoadAllOrders";
        var params = { page: p };
        $.get(url, params, function (html) {
            $("#order-list").html(html);
        });

    }
    $("#btn-prev").click(function () {
        p--;
        if (p < 0)
            p = 0;
        load();
    });
    $("#btn-next").click(function () {
        p++;
        if (p >totalPage-1)
            p = 0;
            load();
    });
    $(document).ready(function () {
        load();
    });
</script>





