<div>
    <section><!--管理员查看Helpful今日订单-->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">helpful今日订单</p>
                        <label>
                            系统单号：
                        </label>
                        <input type="text" />
                        <br />
                        <label>
                            开始时间：
                        </label>
                        <input type="text" />
                        &nbsp;&nbsp;
                        <label>
                            结束时间：
                        </label>
                        <input type="text" />
                        &nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" value="查询" />
                        <div style="height:10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>订单编号</th>
                                    <th>国家</th>
                                    <th>标题</th>
                                    <th>链接</th>
                                    <th>类型</th>
                                    <th>是否收藏(Add to Wish List)</th>
                                    <th>是否审核</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>

                </div>
            </section>
        </div>
    </section>
</div>


