<div>
    <section>
        <!--管理员查看进行中helpful列表-->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">helpful进行中订单</p>
                        <label>
                            系统单号：
                        </label>
                        <input type="text" />
                        <br />
                        <label>
                            开始时间：
                        </label>
                        <input type="date" />
                        &nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" value="查询" />
                        &nbsp;&nbsp;
                        <input type="button" class="btn btn-danger " value="批量删除" />
                        <div style="height:10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>订单编号</th>
                                    <th>国家</th>
                                    <th>标题</th>
                                    <th>链接</th>
                                    <th>Helpful类型</th>
                                    <th>是否收藏(Add to Wish List)</th>
                                    <th>审核状态</th>
                                    <th>审核时间</th>
                                    <th>下单时间</th>
                                    <th>单数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="order-list"></tbody>
                        </table>
                        <p>
                            <button id="btn-prev" class="btn btn-primary">上一页</button>
                            <button id="btn-next" class="btn btn-primary">下一页</button>
                        </p>
                    </div>

                </div>
            </section>
        </div>
    </section>
</div>


<script src="~/js/jQuery-2.1.4.min.js"></script>
<script>
    var p = 0;
    var totalRecord=@ViewBag.totalRecord;
    var totalPage=(totalRecord+10-1)/10;
    function load() {
        $.get("/Pager/LoadHelpfulOrderIngs", {
            page:p
        }, function (html) {
            $("#order-list").html(html);

        });
    }
    $("#btn-prev").click(function () {
        p--;
        if (p < 0)
            p = 0;
        load();
    });
    $("#btn-next").click(function () {
        p++;
        if (p >totalPage-1)
            p = 0;
            load();
    });
    $(document).ready(function () {
        load();
    });
</script>

