@model CommentTime
<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">修改评价时间以及评价时间备注</p>
                        <form asp-action="EditCommentTime" asp-controller="System" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <table class="table table-responsive table-stripted">
                                <tbody>
                                    <tr>
                                        <th class="must2">*当前评价时间</th>
                                        <td><input type="text" class="form-control" name="date" value="@Model.Date" /></td>
                                    </tr>
                                    <tr>
                                        <th class="must2">*评价时间后的备注</th>
                                        <td><input type="text" class="form-control" name="note" value="@Model.Note" /></td>
                                    </tr>
                                    <tr>
                                        <th><a asp-action="CommentTime" asp-controller="System" class="btn btn-primary form-control">返回评价时间设置页面</a></th>
                                        <th><input type="submit" class="form-control btn btn-primary" value="确认修改"></th>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                        <label class="must2" style="color:gold;">特别说明</label><br />
                        <label class="must2">评价时间请勿随意修改，以免新老用户错乱！</label>     <br />
                        <div style="height:10px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
