@model FindType
<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">进入店铺方式修改</p>
                        <form id="defaultForm" asp-action="EditJoinShopType" asp-controller="System" method="post">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <table class="table table-responsive table-stripted">
                                <tbody>
                                    <tr>
                                        <th class="must2">*进入店铺方式</th>
                                        <td class="form-group"><input type="text" class="form-control" name="type" value="@Model.Type" /></td>
                                    </tr>
                                    <tr>
                                        <th class="must2">*该方式对应的价格</th>
                                        <td class="form-group"><input type="text" class="form-control" name="Price" value="@Model.Price" /></td>
                                    </tr>
                                    <tr>
                                        <th class="must2">*说明</th>
                                        <td><input type="text" class="form-control" name="Note" value="@Model.Note" /></td>
                                    </tr>
                                    <tr>
                                        <th><a asp-action="JoinShopType" asp-controller="System" class="form-control btn btn-primary">返回进入店铺方式列表</a></th>
                                        <th><input type="submit" class="form-control btn btn-primary" value="确认修改"></th>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                        <label class="must2" style="color:gold;">特别说明</label><br />
                        <label class="must2">进入店铺方式请勿随意修改，以免新老用户错乱！</label>     <br />
                        <div style="height:10px;"></div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script>
    $(function () {
        $('#defaultForm').bootstrapValidator({
            message: '这个值没有被验证',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                type: {
                    message: '进入店铺方式还没有验证',
                    validators: {
                        notEmpty: {
                            message: '进入店铺方式不能为空'
                        }
                    }
                },
                Price: {
                    message: '该方式价格还没有验证',
                    validators: {
                        notEmpty: {
                            message: '该方式价格不能为空'
                        },
                        digits: {
                            message: '该方式价格只能是数字'

                        }
                    }
                }
            }
        })

    });
</script>




