<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">已完成订单</p>
                        <input type="text" placeholder="系统订单号" class="input-lg" />
                        &nbsp;&nbsp;
                        <input type="text" placeholder="真实订单号" class="input-lg" />
                        <div style="height:20px;"></div>
                        <input type="text" placeholder="店铺名" class="input-lg" />
                        <div style="height:20px;"></div>
                        <input type="text" placeholder="发布订单开始时间" class="input-lg" />
                        &nbsp;&nbsp;
                        <input type="text" placeholder="发布订单结束时间" class="input-lg" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" value="查询" />
                        <div style="height:20px;"></div>

                        <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>订单编号</th>
                                    <th>国家</th>
                                    <th>店铺名</th>
                                    <th>链接</th>
                                    <th>地址</th>
                                    <th>类型</th>
                                    <th>产品价格</th>
                                    <th>运费</th>
                                    <th>总金额</th>
                                    <th>Amazon单号</th>
                                    <th>FeedBack</th>
                                    <th>Review</th>
                                    <th>审核</th>
                                    <th>类型</th>
                                    <th>操作</th>
                                    <th>下单时间</th>
                                    <th>类型</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>10011</td>
                                    <td>英国</td>
                                    <td>STG</td>
                                    <td>www.gougou.com</td>
                                    <td>英国伦敦某地</td>
                                    <td>衣服</td>
                                    <td>35.55</td>
                                    <td>200.00</td>
                                    <td>235.55</td>
                                    <td>10058965</td>
                                    <td>四星</td>
                                    <td>需要Review</td>
                                    <td>通过</td>
                                    <td>外单</td>
                                    <td>删除</td>
                                    <td>2016/03/20</td>
                                    <td>外单</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>10011</td>
                                    <td>加拿大</td>
                                    <td>SOA</td>
                                    <td>www.gougou.com</td>
                                    <td>加拿大某地</td>
                                    <td>衣服</td>
                                    <td>35.55</td>
                                    <td>200.00</td>
                                    <td>235.55</td>
                                    <td>10058965</td>
                                    <td>四星</td>
                                    <td>需要Review</td>
                                    <td>通过</td>
                                    <td>外单</td>
                                    <td>删除</td>
                                    <td>2016/03/20</td>
                                    <td>外单</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>10011</td>
                                    <td>德国</td>
                                    <td>STG</td>
                                    <td>www.gougou.com</td>
                                    <td>德国伦敦某地</td>
                                    <td>衣服</td>
                                    <td>35.55</td>
                                    <td>200.00</td>
                                    <td>235.55</td>
                                    <td>10058965</td>
                                    <td>五星</td>
                                    <td>需要Review</td>
                                    <td>通过</td>
                                    <td>外单</td>
                                    <td>删除</td>
                                    <td>2016/03/22</td>
                                    <td>外单</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
