<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">helpful已支付未完成订单</p>
                        <input type="text" placeholder="系统订单号" class="input-lg" />
                        <div style="height:20px;"></div>
                        <input type="text" placeholder="开始时间" class="input-lg" />
                        &nbsp;&nbsp;
                        <input type="text" placeholder="结束时间" class="input-lg" />&nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" value="查询" />
                        <div style="height:20px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                            <thead>
                                <tr style="background-color:rgb(60,141,188);">
                                    <th>序号</th>
                                    <th>订单编号</th>
                                    <th>国家</th>
                                    <th>标题</th>
                                    <th>链接</th>
                                    <th>类型</th>
                                    <th>是否收藏(Add to Wish List)</th>
                                    <th>是否审核</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>

                </div>
            </section>
        </div>
    </section>
</div>
