<style>
    .must2 {
        color: red;
    }
</style>
<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">发布订单:本页面发布的订单为一个产品多单，如想单个发布，请点击“<a asp-action="OneToOne" asp-controller="Manage">发布订单一产品一单</a>”</p>
                        <table class="table table-responsive table-stripted">
                            <tbody>
                                <tr>
                                    <th class="must2">*国家（汇率）</th>
                                    <td>英国</td>
                                    <td>美国</td>
                                    <td>日本</td>
                                    <td>加拿大</td>
                                </tr>
                                <tr>
                                    <th class="must2">*进入店铺方式</th>
                                    <td>链接进入</td>
                                    <td>搜索进入</td>
                                </tr>
                                <tr>
                                    <th class="must2">*产品连接</th>
                                    <td><input class="form-control" type="text" placeholder="输入以http://开头的产品连接" /></td>
                                </tr>
                                <tr>
                                    <th class="must2">*请选择您的店铺</th>
                                    <td><select class="form-control"><option>STG</option> </select> </td>
                                </tr>
                                <tr>
                                    <th class="must2">*产品价格</th>
                                    <td><input type="text" class="form-control" placeholder="请输入不小于1的价格" /></td>
                                </tr>
                                <tr>
                                    <th class="must2">*运费</th>
                                    <td><input class="form-control" type="text" placeholder="0.00" /></td>
                                </tr>
                                <tr>
                                    <th class="must2">*订单类型</th>
                                    <td>下单 + feedback + review</td>
                                    <td>下单 + feedback</td>
                                    <td>下单 +  review</td>
                                    <td>只下单不评价</td>
                                </tr>
                                <tr class="must2">
                                    <th>*特别说明</th>
                                    <td style="font-size:8px;">请控制review订单量，总review订单比例不能超过总刷单量的30%</td>
                                    <td style="font-size:8px;">超过这个比例我们将加价或将review的订单改为feedback订单</td>
                                </tr>
                                <tr>
                                    <th class="must2">*隔天下单/首天</th>
                                    <td>查看</td>
                                    <td>加购物车</td>
                                    <td>加wishlist</td>
                                    <td>选择本项目加收10元，三项不重复计费</td>
                                </tr>
                                <tr>
                                    <th class="must2">*是否避开周末</th>
                                    <td>不需避开周末</td>
                                    <td>避开周末</td>
                                </tr>
                                <tr>
                                    <th class="must2">*是否免费推广</th>
                                    <td>推广</td>
                                    <td>不推广</td>
                                </tr>
                                <tr>
                                    <th class="must2">*评价时间</th>
                                    <td><input type="text" class="form-control" /></td>
                                    <td>默认亚马逊订单生成时开始计时</td>
                                </tr>
                                <tr>
                                    <th class="must2">*收件人地址</th>
                                    <td><textarea class="form-control"></textarea></td>
                                </tr>
                                <tr>
                                    <th class="must2">FeedBack星级</th>
                                    <td>四星</td>
                                    <td>五星</td>
                                </tr>
                                <tr>
                                    <th class="must2">*FeedBack模版</th>
                                    <td><select><option>请选择FeedBack模版</option></select></td>
                                </tr>
                                <tr>
                                    <th class="must2">*FeedBack内容</th>
                                    <td><textarea class="form-control"></textarea></td>
                                </tr>
                                <tr>
                                    <th>刷单数量</th>
                                    <td><input type="text" class="form-control" placeholder="请输入本产品要刷的单数" /></td>
                                </tr>
                                <tr>
                                    <th>备注</th>
                                    <td><textarea class="form-control"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </section>
        </div>
    </section>

</div>



