<div style="height:20px;"></div>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="col-md-12">
                    <p style="color:red;">
                        请认真填写
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1 style="margin:0; margin-top:-20px;padding:0;">
                <small>充值和余额查询</small>
            </h1>
            <div style="height:10px;"></div>
            <input type="text" placeholder="充值金额" class="input-lg" />
            &nbsp;&nbsp;
            <input type="button" class="btn btn-primary btn-lg" value="查询" />
            &nbsp;&nbsp;
            <input type="button" class="btn btn-primary btn-lg" value="查询" />
            <div style="height:20px;"></div>
            <input type="text" placeholder="开始时间" class="input-lg" />
            &nbsp;&nbsp;
            <input type="text" placeholder="结束时间" class="input-lg" />
            <div style="height:20px;"></div>
            <input type="button" class="btn btn-primary btn-lg" value="查询" />
            <div style="height:20px;"></div>
            <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                <thead>
                    <tr style="background-color:rgb(60,141,188);">
                        <th>序号</th>
                        <th>交易订单号</th>
                        <th>充值金额</th>
                        <th>充值时间</th>
                        <th>状态</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>123456</td>
                        <td>100.00</td>
                        <td>2016/03/15</td>
                        <td>充值成功</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17897</td>
                        <td>2000.00</td>
                        <td>2016/03/16</td>
                        <td>充值成功</td>
                        <td>无</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>131564</td>
                        <td>200.00</td>
                        <td>2016/03/22</td>
                        <td>充值失败</td>
                        <td>无</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



