<div style="height:20px;"></div>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="col-md-12">
                    <p style="color:red;">
                        请认真填写
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1 style="margin:0; margin-top:-20px;padding:0;">
                <small>今日排单</small>
            </h1>

            <div style="height:10px;"></div>
            <input type="text" placeholder="系统订单号" class="input-lg" />
            &nbsp;&nbsp;
            <input type="text" placeholder="发布订单开始时间" class="input-lg" />
            &nbsp;&nbsp;
            <input type="text" placeholder="发布订单结束时间" class="input-lg" />
            <div style="height:20px;"></div>
            <input type="button" class="btn btn-primary btn-lg" value="查询" />
            <div style="height:20px;"></div>
            <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                <thead>
                    <tr style="background-color:rgb(60,141,188);">
                        <th>序号</th>
                        <th>订单编号</th>
                        <th>国家</th>
                        <th>标题</th>
                        <th>链接</th>
                        <th>类型</th>
                        <th>是否收藏（Add to Wish List</th>
                        <th>是否审核</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>89787897</td>
                        <td>加拿大</td>
                        <td>STG</td>
                        <td>www.stg.com</td>
                        <td>衣服</td>
                        <td>是</td>
                        <td>是</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>56456465</td>
                        <td>越南</td>
                        <td>GOD</td>
                        <td>www.god.com</td>
                        <td>鞋子</td>
                        <td>是</td>
                        <td>是</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>123456123</td>
                        <td>德国</td>
                        <td>SSI</td>
                        <td>www.ssi.com</td>
                        <td>裤子</td>
                        <td>否</td>
                        <td>否</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




