<div style="height:20px;"></div>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="container-fluid">
                <div class="col-md-12">
                    <p style="color:red;">
                        请认真填写
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <h1 style="margin:0; margin-top:-20px;padding:0;">
                <small>今天订单</small>
            </h1>
            <div style="height:10px;"></div>
            <input type="text" placeholder="系统订单号" class="input-lg"/>
            &nbsp;&nbsp;
            <input type="text" placeholder="真实订单号" class="input-lg"/>
            <div style="height:20px;"></div>
            <input type="text" placeholder="开始时间" class="input-lg"/>
            &nbsp;&nbsp;
            <input type="text" placeholder="结束时间" class="input-lg"/>
            <div style="height:20px;"></div>
            <input type="button" class="btn btn-primary btn-lg" value="查询" />
            <label class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;未操作（不含错单）：0  &nbsp;&nbsp;&nbsp;&nbsp; 错单：0</label>
            <div style="height:20px;"></div>
            <table class="table table-responsive table-stripted table-hover" style="background-color:white;">
                <thead>
                    <tr style="background-color:rgb(60,141,188);">
                        <th>序号</th>
                        <th>订单编号</th>
                        <th>国家</th>
                        <th>店铺名</th>
                        <th>链接</th>
                        <th>类型</th>
                        <th>价格</th>
                        <th>运费</th>
                        <th>总计</th>
                        <th>RMB总计</th>
                        <th>手续费</th>
                        <th>支付金额</th>
                        <th>Amazon单号</th>
                        <th>FeedBack</th>
                        <th>Review</th>
                        <th>审核</th>
                        <th>类型</th>
                        <th>操作</th>
                        <th>下单时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>10086</td>
                        <td>美国</td>
                        <td>STG</td>
                        <td>www.baidu.com</td>
                        <td>玩具</td>
                        <td>888.77</td>
                        <td>35.00</td>
                        <td>923.77</td>
                        <td>1024.55</td>
                        <td>50.00</td>
                        <td>1450</td>
                        <td>1008611</td>
                        <td>五星</td>
                        <td>需要Review</td>
                        <td>通过</td>
                        <td>外单</td>
                        <td>编辑</td>
                        <td>2016/3/21</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10086</td>
                        <td>加拿大</td>
                        <td>HOT</td>
                        <td>www.baidu.com</td>
                        <td>玩具</td>
                        <td>888.77</td>
                        <td>35.00</td>
                        <td>923.77</td>
                        <td>1024.55</td>
                        <td>50.00</td>
                        <td>1462</td>
                        <td>1001011</td>
                        <td>五星</td>
                        <td>需要Review</td>
                        <td>通过</td>
                        <td>外单</td>
                        <td>编辑</td>
                        <td>2016/3/20</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>10086</td>
                        <td>英国</td>
                        <td>SDG</td>
                        <td>www.baidu.com</td>
                        <td>玩具</td>
                        <td>888.77</td>
                        <td>35.00</td>
                        <td>923.77</td>
                        <td>1024.55</td>
                        <td>50.00</td>
                        <td>1350</td>
                        <td>1001211</td>
                        <td>五星</td>
                        <td>需要Review</td>
                        <td>通过</td>
                        <td>外单</td>
                        <td>编辑</td>
                        <td>2016/3/21</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
