@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码页面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrapValidator.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/css/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.min.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box" style="box-shadow:-20px -20px 20px RGB(54,127,169);">
        <div class="login-box-body">
            <p class="login-box-msg" style="color:RGB(54,127,169);"><b>找回密码</b>&nbsp;&nbsp;<b><a asp-action="Login" asp-controller="Account">返回登录</a></b></p>
            <form asp-action="Login" asp-controller="Account" method="post" id="defaultForm">
                <div class="form-group has-feedback" id="userInput">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        <button type="submit" id="btnLogin" class="btn btn-primary btn-block btn-flat">提交</button>
                    </div><!-- /.col -->
                </div>
                <div class="row form-group">
                    <div id="getanswer"></div>
                </div>
            </form>
            <div style="height:10px;"></div>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="~/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('#defaultForm').bootstrapValidator({
            message: '这个值没有被验证',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: '用户名还没有验证',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 5,
                            max: 16,
                            message: '用户名长度在5到16之间'
                        }
                    }
                },
            }

        })
          .on('success.form.bv', function (e) {
              // Prevent form submission
              e.preventDefault();

              // Get the form instance
              var $form = $(e.target);

              // Get the BootstrapValidator instance
              var bv = $form.data('bootstrapValidator');

              // Use Ajax to submit form data
              $.post("/Account/Forget", $form.serialize(), function (data) {
                  if (data == "success") {
                      $("#btnLogin").fadeOut();
                      $("#userInput").fadeOut();
                      $.get("/Account/FindAnswer", { username: $("#username").val() }, function (html) {
                          $("#getanswer").html(html);
                      });
                      //window.location.href="/Account/FindPassword/"
                  }
                  else if (data == "error") {
                      alert("用户名不存在，请重新输入");
                  }
                  else {
                      alert("未知错误");
                  }
              });
          });
        });
    </script>
</body>
</html>

