<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">密码修改页面</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <table class="table">
                                <tr>
                                    <th>
                                        <label>旧密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" class="form-control" name="password" id="password" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label>新密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" class="form-control" name="newpwd" id="newpwd" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label>确认密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" class="form-control" name="confirmpwd" id="confirmpwd" />
                                    </th>
                                </tr>
                            </table>
                        </form>
                        <input id="send" class="btn btn-primary form-control" value="提交" />
                    </div>
                </div>
            </section>
        </div>
    </section>

</div>
<script src="~/js/jQuery-2.1.4.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#send").click(function () {
            var password = $("#password").val();
            var newpwd = $("#newpwd").val();
            var confirmpwd = $("#confirmpwd").val();
            if (newpwd != confirmpwd) {
                alert("两次输入密码不一致，请检查！");
            }
            else {
                var url = "/Account/Modify";
                var parmas = { "password": password, "newpwd": newpwd };
                $.post(url, parmas, function (data) {
                    if (data == "success") {
                        alert("修改成功,确认后跳转到登录页重新登录...");
                        window.location.href = "/Account/Login";
                    }
                    else {
                        alert("修改失败...");
                    }
                });

            }
        });

    });
</script>

        
        

