<div>
    <section>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="infotitle">密码修改页面</p>
                        <form asp-action="Modify" asp-controller="Account" method="post">
                            <table>
                                <tr>
                                    <th>
                                        <label>旧密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" name="password" class="input-lg" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label>新密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" name="newpwd" class="input-lg" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <label>确认密码：</label>
                                    </th>
                                    <th>
                                        <input type="password" name="confirmpwd" class="input-lg" />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <input type="submit" class="btn btn-primary" value="提交" />
                                    </th>
                                </tr>
                            </table>

                        </form>

                    </div>
                </div>
            </section>
        </div>
    </section>

</div>

        
        

