@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员注册页面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrapValidator.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/css/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.min.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
    <div class="register-box" style="box-shadow:-20px -20px 20px RGB(54,127,169);margin-top:40px;">
        <div class="register-box-body">
            <p class="login-box-msg">注册成为会员加入我们</p>
            <form id="defaultForm">
                <div class="form-group has-feedback">
                    <label>用户名：</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>昵称：</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name">
                    </div> 
                </div>
                <div class="form-group has-feedback">
                    <label>密码：</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>确认密码：</label>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>邮箱：</label>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>QQ号：</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="qq" id="qq">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label>找回密码问题：</label>
                    <select name="question" id="question" class="form-control" >
                        <option>我父亲的名字？</option>
                        <option>我初中班主任的名字？</option>
                        <option>我高中同桌的名字？</option>
                        <option>我母亲姓名？</option>
                        <option>我的第一辆汽车是什么型号？</option>
                        <option>我第一次旅游是什么时候？</option>
                        <option>我最喜欢的偶像是？</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <label>问题答案：</label>
                    <div class="form-group">
                        <input type="text" class="form-control" name="answer" id="answer">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="sendBtn" class="btn btn-primary btn-block btn-flat form-control">注册</button>
                </div>
            </form>
        
            
        <div style="height:10px;"></div>
        <p>当前会员人数为 @ViewBag.MemberCount，我们期待您的加入</p>
            <a asp-action="Login" asp-controller="Account" class="text-center">我已经注册过会员</a>
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
    <!-- jQuery 2.1.4 -->
    <script src="~/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrapValidator.min.js"></script>
    <script>
        $(function () {
            $("#defaultForm").bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    username: {
                        message: '用户名还没有验证',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }

                    },
                    name: {
                        message: '昵称没有验证',
                        validators: {
                            notEmpty: {
                                message: '昵称不能为空'
                            }
                        }

                    },
                    email: {
                        validators: {
                            notEmpty:{
                                message:'邮箱不能为空'
                            },
                            emailAddress: {
                                message: 'Email不能为空'

                            }
                        }

                    },

                    qq: {
                        validators: {
                            notEmpty:{
                                message:'qq不能为空'
                            
                            },
                            stringLength: {
                                message:'qq位数在4到12位之间',
                                min: 4,
                                max: 12,

                            },
                            digits: {
                                message:'只能是数字'

                            }
                        }
                    },
                    answer: {
                        validators: {
                            notEmpty: {
                                message: '问题答案不能为空'
                            }
                        }
                    },
                    CellPhoneNumber: {
                        message: '电话号码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '电话号码不能为空'
                            },
                            regexp: {
                                regexp: /^((13[0-9])|(15[^4,\\D])|(18[0,2,5-9]))\d{8}$/,
                                message: '11位数字，格式如：13842174329'
                            }
                        }
                    },
                    
                    password: {
                        message: '密码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 16,
                                message: '密码长度在6到16之间'
                            },
                            //regexp: {
                            //    regexp: /^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$/,
                            //    message: '密码必须包括至少一个数字，大写字母，小写字母，特殊字符'
                            //},
                            different: {
                                field: 'username',
                                message: '为了安全起见，密码不能和用户名相同'
                            }
                        }
                    },
                    confirmpassword: {
                        message: '二次密码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '二次密码不能为空'
                            },
                            //stringLength: {
                            //    min: 6,
                            //    max: 16,
                            //    message: '二次密码长度在6到16之间'
                            //},
                            //regexp: {
                            //    regexp: /^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$/,
                            //    message: '二次密码必须包括至少一个数字，大写字母，小写字母，特殊字符'
                            //},
                            identical: {
                                field: 'password',
                                message: '两次密码不同请重新输入'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function (e) {
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('bootstrapValidator');

                $.post("/Account/Register", $form.serialize(), function (data) {
                    if (data == "success") {
                        alert("注册成功");
                        window.location.href = "/Account/Login";
                    } else if (data == "error") {
                        alert("用户名已存在，重新注册");
                        window.location.href = "/Account/Register";
                    }
                    else {
                        alert("注册失败，请重新注册！");
                        window.location.href = "/Account/Register";
                    }
                });
            });
      });
    </script>
</body>
</html>

