@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员注册页面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrapValidator.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/css/ionicons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/css/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.min.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition register-page">
    <div class="register-box" style="box-shadow:-20px -20px 20px RGB(54,127,169);margin-top:40px;">
        <div class="register-box-body">
            <p class="login-box-msg">注册成为会员加入我们</p>
            <form>
                <div class="form-group has-feedback">
                    <label>用户名：</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group has-feedback">
                    <label>昵称：</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="form-group has-feedback">
                    <label>密码：</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group has-feedback">
                    <label>确认密码：</label>
                    <input type="password" class="form-control" id="confirmpassword" >
                </div>
                <div class="form-group has-feedback">
                    <label>邮箱：</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="form-group has-feedback">
                    <label>QQ号：</label>
                    <input type="text" class="form-control" name="qq" id="qq">
                </div>
                <div class="form-group has-feedback">
                    <label>找回密码问题：</label>
                    <select name="question" id="question" class="form-control" >
                        <option>我父亲的名字？</option>
                        <option>我初中班主任的名字？</option>
                        <option>我高中同桌的名字？</option>
                        <option>我母亲姓名？</option>
                        <option>我的第一辆汽车是什么型号？</option>
                        <option>我第一次旅游是什么时候？</option>
                        <option>我最喜欢的偶像是？</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <label>问题答案：</label>
                    <input type="text" class="form-control" name="answer" id="answer">
                </div>
            </form>
            <button id="sendBtn" class="btn btn-primary btn-block btn-flat form-control">注册</button>
        <div style="height:10px;"></div>
        <p>当前会员人数为 @ViewBag.MemberCount，我们期待您的加入</p>
            <a asp-action="Login" asp-controller="Account" class="text-center">我已经注册过会员</a>
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
    <!-- jQuery 2.1.4 -->
    <script src="~/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrapValidator.min.js"></script>
    <script>
        $(function () {
        $("#sendBtn").click(function () {
            if (password != confrmpassword) {
                alert("两次输入密码不一致，请检查!");
            }
            else {
                var confrmpassword = $("#confirmpassword").val();
                var password = $("#password").val();
                var username = $("#username").val();
                var name = $("#name").val();
                var email = $("#email").val();
                var qq = $("#qq").val();
                var question = $("#question").val();
                var answer = $("#answer").val();
                var url = "/Account/Register";
                var parmas = { "username": username, "name": name, "password": password, "email": email, "qq": qq, "question": question, "answer": answer };
                $.post(url, parmas, function (data) {
                    if (data === "success") {
                        alert("注册成功，点击确定跳转至登录页面...");
                        window.location.href = "/Account/Login";
                    }
                    else if (data == "error") {
                        alert("用户名" + username + "已经存在");
                    }
                    else {
                        alert("注册失败，请检查信息!");
                        window.location.href = "/Account/Register";
                    }

                });
            }
        });
      });
    </script>
</body>
</html>

